@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");
body {
  text-align: center;

  margin: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e0ebe8;
  position: relative;
  color: #45b29a;
  padding: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 500px;
}

.header-img {
  width: 80%;
}
.title {
  font-weight: normal;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  margin: 5rem auto auto 0;
}

h2 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.pro {
  text-decoration: underline;
}
