* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  font-family: sans-serif;
  margin: 0;
  font-size: 62.5%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.countdown-container {
  display: flex;
  text-align: center;
  padding: 1.5rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-left: 2.2rem;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
  font-weight: 700;
}

div > span {
  font-size: 1.5rem;
}
